{
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 120,
  "arrowParens": "avoid",
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": ["^react$", "<THIRD_PARTY_MODULES>", "^[.]", "<TYPES>", "graphql/autogenerate/types"],
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
  "importOrderTypeScriptVersion": "5.0.0"
}